[submodule "client"]
	path = client
	url = git@github.com:myna-labs-test/backend-api-client.git
[submodule "bot"]
	path = bot
	url = git@github.com:myna-labs-test/backend-bot.git
[submodule "characters"]
	path = characters
	url = git@github.com:myna-labs-test/backend-api-characters.git
[submodule "migrations"]
	path = migrations
	url = git@github.com:myna-labs-test/backend-migrations.git
